html, body {
  height: 100%;
  width: 100%;
}

* {
font-family: Calibri, Arial, Helvetica, sans-serif;
}

.texto {
  max-width: 300px;
}

.foto-sobre {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h3, h4 {
  margin: 5px;
}

td {
  text-align: center;
}

table {
  border-collapse: collapse;
}

table > thead > tr > th,
table > tbody > tr > td {
  padding: .5rem;
}