@import 'bs5-lightbox';

header {
  padding-bottom: 1rem;
}

.carousel-inner {
  height: 39em;
}

.carousel-item {
  background: center/contain no-repeat;
}

.card {
  border: none;
}

.cover-img {
  width: 10rem;
  align-self: center;
}

@media (max-width: 600px) {
  .game-title {
    padding-top: 1rem;
  }
}
